<p><%= link_to "Back", root_path %></p>
<h1>Sign up</h1>
<% if !@user.errors.messages.empty? %>
    <% @user.errors.full_messages.each do |msg| %>
        <li class="error"><%= msg %></li>
    <%  end %>
<% end %>
<%= render partial: "user_form", locals:{ user: @user}%>