// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
*{
    background-color: rgb(214, 255, 255);
}

li{
    list-style: none;
}

.content>img{
    max-width: 200px;
    max-height: 200px;
    margin: 5px;
}

.listingbox{
    display: grid;
    grid-template-columns: repeat(auto-fill, 225px);
    grid-gap: 7px;
    border: 1px solid gray;
    justify-content: center;
}

.listing{
    border: 1px solid gray;
    margin: 5px;
}

.listinginfo{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.listinginfo>a{
    font-size: 75%;
    text-align: center;
}

h1{
    font-size: 300%;
    margin-left: 5px;
}

a{
    background-color: gray;
    text-decoration: none;
    color: rgb(214, 255, 255);
    margin: 5px;
    padding: 10px;
}

a:hover{
    background-color: rgb(214, 255, 255);
    color: gray;
}

.item{
    font-size: 200%;
    font-weight: bold;
    display: flex;
}

.content{
    font-size: 100%;
    font-weight: bold;
}

label,input{
    display: block;
}

input[type="checkbox"]{
    height: 30px;
    width: 30px;
}

.form{
    font-size: 200%;
    padding: 15px;
}

.form>input{
    font-size: 90%;
    height: 30px;
}

.form>textarea{
    box-sizing: border-box;
    height: 150px;
    width: 351px;
    font-size: 90%;
    border: 2px solid black;
}

form>input{
    background-color: gray;
    color: rgb(214, 255, 255);
    margin: 5px;
    padding: 10px;
    border: none;
}

form>input:hover{
    background-color: rgb(214, 255, 255);
    color: gray;
}

.error{
    font-size: 200%;
    margin: 0 15px;
    color: red;
}

.field_with_errors input{
    font-size: 90%;
    height: 30px;
}

.item{
    margin: 5px;
    border: 1px solid gray;
    display: flex;
}

.item>img{
    margin: 5px;
}

.review{
    margin: 5px;
    border: 1px solid gray;
    font-weight: bold;
}

.star{
    color: blue;
}

.revtext{
    margin: 5px;
}

.msg{
    font-size: 200%;
    border: 1px solid gray;
    height: 725px;
    padding: 10px;
}

.account{
    display: flex;
    justify-content: space-between;
}

.notice{
    background-color: lightgreen;
    padding: 5px;
    font-size: 200%;
}

.alert{
    background-color: lightcoral;
    padding: 5px;
    font-size: 200%;
}