<h1>Add Product</h1>
<p><%= link_to "Back",products_path %></p>
<% if !@product.errors.messages.empty? %>
    <% @product.errors.full_messages.each do |msg| %>
        <li class="error"><%= msg %></li>
    <%  end %>
<% end %>
<%= render partial: "product_form", locals:{product: @product}%>