<h1>Edit <%= @review.user %>'s review</h1>
<%= link_to "Back",product_path(@product) %>
<% if !@review.errors.messages.empty? %>
    <br>
    <% @review.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
    <%  end %>
    <br>
<% end %>
<%= render partial: "review_form", locals:{product: @product,review: @review}%>